.Rproj.user
.Rhistory
.RData
.Ruserdata
20250603_Vitaspec_HR_DIADE_pred.xlsx
vitaspec_fruit
huiles_CV.txt
ROSA_vitaSPEC/models
ROSA_vitaSPEC/Data
Vitaspec_fruit_model_def_sec
vitaspec_meso_24-25
.venv/
__pycache__/
*.py[cod]
.env
.RDataTmp
.RDataTmp1
.RDataTmp2
.RDataTmp3
.RDataTmp4
.RDataTmp5
.RDataTmp6
.RDataTmp7
.RDataTmp8
.RDataTmp9
.RDataTmp10
.RDataTmp11
.RDataTmp12
.RDataTmp13
.RDataTmp14
.RDataTmp15
.RDataTmp16
.RDataTmp17
.RDataTmp18
.RDataTmp19
.RDataTmp20
.RDataTmp21
.RDataTmp22
.positai
.out
.err
ROSA_vitaSPEC/CLUSTER/random_forest/workspaces_isoles
ROSA_vitaSPEC/CLUSTER/random_forest/moyennes/workspaces_isoles
ROSA_vitaSPEC/CLUSTER/random_forest/repetitions/workspaces_isoles
ROSA_vitaSPEC/CLUSTER/random_forest/workspace
ROSA_vitaSPEC/CLUSTER/xgboost/workspaces_isoles
ROSA_vitaSPEC/CLUSTER/xgboost/moyennes/workspaces_isoles
ROSA_vitaSPEC/CLUSTER/xgboost/repetitions/workspaces_isoles
ROSA_vitaSPEC/CLUSTER/xgboost/workspace
ROSA_vitaSPEC/CLUSTER/pls/workspaces_isoles
ROSA_vitaSPEC/CLUSTER/pls/moyennes/workspaces_isoles
ROSA_vitaSPEC/CLUSTER/pls/repetitions/workspaces_isoles
ROSA_vitaSPEC/CLUSTER/pls/workspace
