.Rproj.user
.Rhistory
.RData
.Ruserdata
20250603_Vitaspec_HR_DIADE_pred.xlsx
vitaspec_fruit
list_pre_test.R
huiles_CV.txt
predictions/
vitaspec_meso_24-25
.RDataTmp
.RDataTmp1
.RDataTmp2
.RDataTmp3
.RDataTmp4
.RDataTmp5
.RDataTmp6
